.container {
    position: relative;
    height: 100vh;
    width: 90%; 
    max-width: 850px;
    background-color: rgb(191, 198, 198);
    text-align: center;
    margin: 0 auto; 
    border-radius: 8px;
}

h1 {
    padding: 35px;
}

input {
    height: 30px;
    width: 80%; 
    max-width: 380px;
    border-radius: 8px;
    margin: 5px;
}

input::placeholder {
    padding: 0; 
}

button {
    color: white;
    background-color: black;
    font-weight: 700;
    width: 80px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    border: none; /* Remove border */
}

ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-top: 50px;
    padding: 0; 
    list-style: none; 
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    width: 100%; 
    max-width: 600px;
    font-size: large;
    font-weight: 700;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dbtn1, .dbtn2, .edit {
    height: 20px;
    width: 60px;
    background-color: rgb(15, 16, 16);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

.dbtn1 {
    margin-left: auto;
    margin-right: 20px;
    width: 60px;
}
.edit{
   position: absolute;
   left: 480px;
   width: 60px;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
    input {
        width: calc(100% - 20px); /* Full width minus padding for container */
        max-width: none;
        box-sizing: border-box; /* Ensure padding is included in width calculation */
    }
    ol {
        padding: 0 10px; /* Add padding to prevent overflow */
    }
    li {
        width: calc(100% - 20px); /* Adjust width for padding */
        font-size: 0.8rem;
        flex-direction: row; /* Align buttons in one line */
        align-items: center;
        /* justify-content: space-between;  */
    }
    .dbtn1, .dbtn2 {
        width: 45px;
        font-size: 0.7rem;
        
         
    }
    
}
